::-webkit-scrollbar {
    width: 10px;
    border-left: 15px solid green;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom,green,  white, green);
    margin-left: 3px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F97D09;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F97D09;
  }
body{
    margin:0;
    padding:0;
}
#scroll-container {
    background-color: green;
    border-bottom: 2px solid #fff;
    padding : 4px;
    overflow: hidden;
}


  #scroll-text {
    /* animation properties */
    color:white;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }

.text-my{
    color: #fff;
}
.text-my:hover{
    color: green;
}
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
/* my bg for navbar */
.bg-my{
    background-color:#F97D09;
}
.sloka{
    word-spacing: 20px;
    font-weight: bolder;
    font-size: 20px;
    color:#F97D09;
    text-align: right;
}
.sloka2{
    margin-left:15px;
    word-spacing: 10px;
    font-weight: bolder;
    font-size: 20px;
    color:#F97D09;
    text-align: justify;
}
/* owl carousel */
.bf-mine{
    background-color: #F97D09;
}
.owl-carousel{
    width: 100%;
    height: 50vh;
}
.slide{
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    OPACITY:0.9;
}
.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.slide-1{
    background-image: url(../imgs/shutterstock_651306019.jpg);
}
.slide-2{
    background-image: url(../imgs/shutterstock_1638146749.jpg);
}
.slide-3{
    background-image: url(../imgs/shutterstock_426533797.jpg);
}
.slide-content{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 0 20%;
}
.slide-content h1{
    font-family: "Anton", serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}
.slide-content p{
    font-family: "Lato", serif;
    font-size: 48px;
    margin-bottom: 20px;
}
.slide-content button{
    color: white;
    font-family: "Lato", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}
.owl-dots{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 1%;
}
.owl-dots span{
    width: 20px !important;
    outline: none !important;
}
.owl-dots button{
    border: none !important;
    outline: none !important;
}
.owl-nav button{
    background-color: #F97D09;
    border: 1px solid #278D27;
    border-radius: 2px;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    color: white !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}
.owl-prev{
    left: 1%;
}
.owl-next{
    right: 1%;
}
.my-button{
    background-color: #F97D09;
    /* border: 2px solid #278D27 !important; */
    border-radius: 10px;
}
.about-section {
    padding: 50px;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to right, #F97D09,rgb(231, 179, 148) , #F97D09);
    color: black;
    box-shadow: 0 0 10px 0 black;
  }
  .about-section-2 {
    padding: 50px;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to right, #F97D09,rgb(231, 179, 148) , #F97D09);
    color: black;
    box-shadow: 0 0 50px 0 black;
  }
.about-section-header{
    font-size: 60px;
    padding: 60px !important;
}

.about-section-para{
    padding: 60px !important;
}
.about-section-para2{
    padding: 30px !important;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: green; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-weight:bolder;
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: green; /* Add a dark-grey background on hover */
    color: orange; /* Add a dark-grey background on hover */
  }
  .dropdown-menu{
      background-color:green;
  }
.text-my:active{
        color:green !important;
  }
 .dropdown-item:hover{
        background-color: orange !important;
 }



 @media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}